

/* 

  help full info
  
I used # for the main components like navbar and --- for part of this component like logo

*/

/*
	################################################Start Main strucure style
*/

html,
body,
div,

applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    outline: none !important;
    font-family: "Anton-Regular";

}
input, button{
    outline: 0
}
.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: none !important;
}
li{ list-style-type: none; }
@font-face {
font-family: "Anton-Regular";
src: url("../fonts/Anton-Regular.ttf");

}
@font-face {
font-family: "Cairo-Black";
src: url("../fonts/Cairo-Black.ttf");

}
input, button{
    outline: 0
}
.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: none !important;
}




.navbar-toggler:focus, 
.navbar-toggler:hover,
a:hover,
a:focus
{
  outline: none;
  text-decoration: none;
  color: inherit;
}
dl, ol, ul{
  margin: 0;
}
li{
  list-style-type: none;
}
li a{color: inherit;}
.button_hover_style{
  transition: .5s
}
.button_hover_style:hover{
  color:#fff;
}
body{
  background: #F9F9FB
}

body.scrolling_behavior{
  overflow: hidden;
}

.stop-scrolling { 
    height: 100%; 
    overflow: hidden; 
} 



.RubikMonoOne-font{
  font-family: 'Rubik Mono One', sans-serif;
}
.Montserrat-font{
  font-family: 'Montserrat', sans-serif;
}


/*
  ################################################Start Main strucure style
*/

/*
  ################################################################ Start home page Style
*/


.home_page .user_input_form button
{
    width: 40%;
    color: #fff;
    background: #000;
    padding: 8px 15px;
    border: none;
    box-sizing: 0 0 11px #fff;
    transition: .5s;
    font-size: 20px;
    display: block;
    margin:auto;
    outline: none;
    margin-top: 10px;
    margin-bottom: 30px
}
.home_page .user_input_form button:hover{

  transform: scale(1.5,1);
  letter-spacing: 5px;
  background-image:  linear-gradient(to right, white , black);
  color: #000

}
.home_page .user_input_form .user_input_result .highlighted_word{
  color: red;
}
.home_page  .toggle_head,
.home_page  .toggle_head
{
  
margin-bottom: 50px
}
.home_page .num_paragraph span,
.home_page .num_of_sentence span,
.home_page .word_numbers span,
.home_page .num_of_syllable span{
  color: blue;
  position: absolute;
right: 70%;
}

/*
  ################################################################ End home page Style
*/
