{% extends "text_analysis/base.html" %}

{% load static %}
{% block content %}

<div class="row home_page">
	<div class="col-4 user_input_form">
		<h4 class="toggle_head">Enter text  you need to analyze</h4>
		<form method='POST'>
			{% csrf_token %}
		   <div class="form-group">
		    <textarea class="form-control" name="user_text" id="exampleFormControlTextarea1" rows="3">
		    	
		    </textarea>
		  </div>
		  <button type="submit" class="btn btn-primary submit_text">Analyze</button>
		</form>
		<div class="user_input_result">

		</div>
	</div>

	<div class="col-8 user_input_anaysis">
		<div class="">
		  <h4 class="toggle_head">Click Tabs for different anaysis</h4>
		  <!-- Nav tabs -->
		  <ul class="nav nav-tabs">
		    <li class="nav-item">
		      <a class="nav-link active" data-toggle="tab" href="#home">Overall Statics</a>
		    </li>
		    <li class="nav-item">
		      <a class="nav-link" data-toggle="tab" href="#menu1">Paragraph Level Readability</a>
		    </li>
		    <li class="nav-item">
		      <a class="nav-link" data-toggle="tab" href="#menu2">Other Readability Tools</a>
		    </li>
		  </ul>

		  <!-- Tab panes -->
		  <div class="tab-content">
		    <div id="home" class="container tab-pane active"><br>
		      <h3>Text Statics</h3>
		      	<p class="num_paragraph">Paragraph Count: </p>
		      	<p class="num_of_sentence">Sentence Count: </p>
		      	<p class="word_numbers">Word Count: </p>
		      	<p class="num_of_syllable">syllables Count: </p>
		    </div>
		    <div id="menu1" class="container tab-pane fade"><br>
		      <h3>Menu 1</h3>
		      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		    </div>
		    <div id="menu2" class="container tab-pane fade"><br>
		      <h3>Menu 2</h3>
		      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
		    </div>
		  </div>
		</div>

	</div>
</div>

{% endblock content %}  